spring:
  profiles:
    active: local
    group:
      local: local, common, secret
      blue: blue, common, secret
      green: green, common, secret

server:
  env: blue

---

spring:
  config:
    activate:
      on-profile: local

server:
  port: 8080
  serverAddress: localhost

serverName: local_server

---

spring:
  config:
    activate:
      on-profile: blue

server:
  port: 8080
  serverAddress: 3.38.77.146

serverName: blue_server

---

spring:
  config:
    activate:
      on-profile: green

server:
  port: 8081
  serverAddress: 3.38.77.146

serverName: green_server

---

spring:
  config:
    activate:
      on-profile: common
  jpa:
    hibernate:
      ddl-auto: create
  servlet:
    multipart:
      max-file-size: 3MB
      max-request-size: 3MB
  jackson:
    serialization:
      fail-on-empty-beans: false
